.overview-div {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.fundamental-details {
  display: flex;
  gap: 20px;
}
.fundamental-details div {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: grey;
  font-weight: 00;
}
.detail-tab {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.jk {
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .fundamental-details {
    flex-direction: column;
  }
  .fundamental-details div {
    width: 100%;
  }
}
