.rootlayout {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}
.outlet-renderer {
  width: 75%;
  overflow-y: hidden;
}

@media screen and (max-width: 780px) {
  .rootlayout {
    flex-direction: column;
  }
  .outlet-renderer {
    width: 100%;
  }
}
